<div class="container">
    <div class="row">
        <p>Id:</p>
        <input type="number" name="" id="formId">
    </div>
    <div class="row">
        <p>Name:</p>
        <input type="text" name="" id="formName">
    </div>
    <div class="row">
        <p>Image:</p>
        <input type="text" name="" id="formImage">
    </div>
    <div class="row">
        <p>Status:</p>
        <select name="" id="formStatus">
            <option value="Alive">Alive</option>
            <option value="Dead">Dead</option>
            <option value="Unkown">Unkown</option>
        </select>
    </div>
    <div class="row">
        <p>Species:</p>
        <input type="text" name="" id="formSpecies">
    </div>
    <div class="row">
        <p>Gender:</p>
        <input type="text" name="" id="formGender">
    </div>
    <div class="row">
        <p>Origin:</p>
        <input type="text" name="" id="formOrigin">
    </div>
    <button class="btn btn-primary" (click)="onAdd()" id="addButton">Save</button>
    <button class="btn btn-primary" (click)="onAdd()" id="editButton" hidden>Save</button>
</div>